akshare==1.18.91
annotated-types==0.7.0
baostock==0.9.3
beautifulsoup4==4.15.0
bibtexparser==1.4.4
certifi==2026.5.20
cffi==2.1.1
charset-normalizer==3.4.7
citeproc-py==0.9.3
click==8.4.1
click-log==0.4.0
coloraide==4.7.2
colorama==0.4.6
curl_cffi==0.16.0
decorator==5.3.1
et_xmlfile==2.0.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.50
greenlet==3.5.1
html5lib==1.1
idna==3.18
jing==0.3.12
Jinja2==3.1.6
jsonpath==0.82.2
lxml==6.1.1
MarkupSafe==3.0.3
mini-racer==0.14.1
multitasking==0.0.13
networkx==3.6.1
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.5
pandoc==2.4
pdfCropMargins==1.0.9
peewee==4.3.0
pillow==12.2.0
plasTeX==3.1
platformdirs==4.11.3
playwright==1.60.0
plumbum==1.10.0
ply==3.11
prefig==0.6.7
pretext==2.45.0
protobuf==7.35.1
psutil==7.2.2
pyarrow==25.0.1
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic-xml==2.14.3
pydantic_core==2.46.4
pyee==13.0.1
PyMuPDF==1.27.2.3
pyparsing==3.3.2
PyPDF2==2.5.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
qrcode==7.4.2
requests==2.34.2
scipy==1.17.1
shapely==2.1.2
single-version==1.6.0
six==1.17.0
smmap==5.0.3
soupsieve==2.9.2
style==1.1.0
tabulate==0.10.0
tqdm==4.70.0
typing-inspection==0.4.2
typing_extensions==4.15.0
Unidecode==1.4.0
update==0.0.1
urllib3==2.7.0
webencodings==0.5.1
websockets==17.0.1
wheel==0.47.0
xlrd==2.0.2
yfinance==1.6.0
